#modal1 {
    /*    width: auto !important;*/
    max-height: 100vh !important;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    overflow-y: scroll;
    height: 100%;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.box,
.overbox {
    overflow-y: scroll;
    height: 100%;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
