* {
    box-sizing: border-box;
}

#hangouts-nav-link,
#friends-nav-link,
#settings-nav-link {
    /*    margin: 0px;*/
    padding: 0px;
}

#add-nav-link {
    padding-right: 15px;
}

.main-nav-menu-icon {
    padding-left: 0px;
    padding-right: 0px;
}

.nav-wrapper {
    width: 100%;
    margin: 0 auto;
}

.btn-flat {
    color: #fff;
}


/*
@media only screen and (max-width: 601px) {
    nav,
    nav .nav-wrapper i,
    nav a.button-collapse,
    nav a.button-collapse i {
        height: 64px;
        line-height: 64px;
    }
}
*/

@media only screen and (min-width: 992px) {
    nav a.button-collapse {
        display: block;
    }
}

body {
    background-image: url(https://lh3.googleusercontent.com/-Z70RhagP5DI/VZ17vUOsTaI/AAAAAAAACTo/qe-8RrfrDPo/w1600-h900/rochesternight.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}


/* Remove this later for infinite activity cards */

body {
    overflow-x: hidden;
}

html,
body {
    padding: 0;
    margin: 0;
    color: #ebebeb;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    position: relative;
    z-index: 10;
    height: 40px;
}

main {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.section,
.friendlist,
.hangouts-list {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.section::-webkit-scrollbar {
    display: none;
}


/*=============================*/


/*
body,
html {
    height: 100%;
}
*/


/*
main.wrap {
    height: 100%;
    overflow: hidden;
    overflow-x: auto;
}
*/


/*
body {
    overflow: hidden;
    overflow-x: auto;
}
*/

header,
main,
footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}


/*
.section {
    padding: 10px;
}
*/


/*
.cont {
    max-height: 100vh;
    overflow-y: scroll;
}
*/
